{{define "tasks_active"}}class="active"{{end}}

{{define "styles"}}
<style type="text/css">
  .box .box-title {
    font-weight:bold;
  }
  .box .box-body ul {
    padding-left:0; 
  }
  .box .box-body li {
    list-style:none;
    font-size: 110%;
  }
</style>
{{end}}


{{define "scripts"}}
<script type="text/javascript">
  $(function() {
    //Date range picker
    $('.datepicker').daterangepicker({
      "locale": {
        "format": 'DD/MM/YYYY'
      },
      "autoApply": true,
      {{if ne .StartDate ""}}"startDate": {{.StartDate}},{{end}}
      {{if ne .EndDate ""}}"endDate": {{.EndDate}}{{end}}
    });
  });
</script>
{{end}}


{{define "content"}}
<div id="content" class="tasks">

  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Date Range</h3>
      <div class="box-tools pull-right"></div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      
      <form action="/tasks" method="post">
        <div class="col-xs-12 col-sm-4 col-sm-push-2">
          <div class="form-group">
            <div class="input-group date-range">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input id="date-range" name="date-range" type="text" class="datepicker form-control pull-right" style="background:white;" readonly>
            </div>
            <!-- /.input group -->
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-push-2">
          <div class="form-group">
            <div class="input-group date-range">
              <input type="submit" value="Submit" class="btn btn-primary">
            </div>
            <!-- /.input group -->
          </div>
        </div>
      </form>

    </div>
    <!-- /.box-body -->
  </div>

  {{ $length := len .Tasks }} {{ if eq $length 0 }}
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">No Task Details!</h3>
      <div class="box-tools pull-right"></div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      Tasks must have player entries in the date range to be listed.
    </div>
    <!-- /.box-body -->
  </div>
  {{ end }}

  {{ range $index, $task := .Tasks }}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{ $task.Title }}</h3>
      <div class="box-tools pull-right">
        <span class="label label-primary" style="font-size:110%;">{{ sum $task }}h</span>
      </div>
    </div>
    <div class="box-body">

      <div class="col-xs-6 col-sm-3">
      <ul>
      {{ range $i, $p := $task.Players }}
        {{ if and (mod $i (cel $task)) (ne $i 0) }}
        </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
        <ul>
        {{end}}
        <li><b>{{ fmt $p.Score }}h</b> - {{ $p.Name }}</li>
      {{end}}
      </ul>
      </div>

    </div>
    <div class="box-footer"></div>
  </div>
  {{end}}

</div>
{{end}}